.top-container{
    margin-top: 54px;
    width: 100%;
    display: flex;
    color: #fff;
    font-family: Roboto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-container .title-container h1{
    display: flex;
    font-weight: bold;
    font-size: 3.8rem;
    color: var(--color-secondary);
    text-align: center;
}
.top-container .description-container{
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-container .description-container p{
    margin-right: 23px;
    color: var(--color-text);
    text-align: right;
}
.top-container .description-container button{
    cursor: pointer;
    border-radius: 13px;
    margin-left: 23px;
    padding: 23px;
    width: 20%;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
    background:var(--color-primary);
    color:#fff;
    transition: background-color 0.2s;
}
.top-container .description-container button:hover{
    background: var(--color-primary-hover);
}
.top-container img{
    margin-top: 65px;
    margin-bottom: 65px;
}