.post-container{
    margin-top: 142px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.post-container .description h1{
    color: var(--color-secondary);
    font-family:Archivo;
    font-weight: bold;
    font-size: 48px;
}
.post-container .description p{
    margin-top: 13px;
    font-size: 18px;
    color: var(--color-text);
    font-weight: bold;
    font-family: Archivo;
}