.connections-container{
    margin:42px auto ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.connections-container .connection-img img{
    margin-right: 42px;
}
.connections-container .description{
    margin-left: 72px;
}
.connections-container .description h1{
    color: var(--color-secondary);
    font-family:Archivo;
    font-weight: bold;
    font-size: 48px;
}
.connections-container .description p{
    margin-top: 13px;
    font-size: 18px;
    color: var(--color-text);
    font-weight: bold;
    font-family: Archivo;
}