.spoiler-content{
    margin:10% auto ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.spoiler-content .alert-img img{
    width: 40%;
}
.spoiler-content .description{
    margin-top: 32px;
}
.spoiler-content .description h1{
    color: var(--color-secondary);
    font-family:Archivo;
    font-weight: bold;
    font-size: 48px;
}
.spoiler-content .description p{
    margin-top: 13px;
    font-size: 18px;
    color: var(--color-text);
    font-weight: bold;
    font-family: Archivo;
}
.spoiler-content .description p:last-child{
    margin-top: 53px;
    text-transform: uppercase;
    color: var(--color-orange);
    margin-top: 13px;
    font-size: 18px;
    font-weight: bold;
    font-family: Archivo;
}